.mobile-menu {
  display: none;
  cursor: pointer;

}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background-color: #fff;
  margin: 8px;

}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    padding-top: 50px;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #18171B;
    flex-direction: column;
    align-items: center;

    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}



@media (max-width: 999px) {
  .inicio {
    width: 100%;
    display: flex;
    flex-direction: column;
  }



  section {
    margin: auto;
    width: 200vw;
    text-align: center;
  }

  .ilust {
    display: none;
  }

  .linhaA {
    display: none;
  }

  .titulo {
    text-align: center;
    font-size: 130%;
    padding: 18px;
  }

  .sobre {
    width: 100%;
    flex-direction: column;
  }

  .perfil {
    width: 40%;
    margin-bottom: 50px;
  }

  .txts {
    width: 60%;
  }

  .editMob {
    font-size: 23px;
    padding-right: 18px;
  }

  .experiencia {
    width: 100%;
    flex-direction: column;
  }

  .alinha {
    margin-bottom: 100px;
  }

  .tituloExperi {
    width: 80vw;
    
  }

  .descriEmpresa {
    margin-top: 100px;

  }

  .data {

    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 5px;
  }

  .txM {
    margin-right: 15px;
  }

  .projetos {
    width: 100%;
    flex-direction: column;
  }

  .tituloPro {
    margin: auto;
    display: flex;
    margin-bottom: 100px;

  }

  .projetosPosi {

    margin: auto;
    width: 80%;
    flex-direction: column;
    gap: 80px;
    padding-left: 0px;
  }

  .imgPro {
    width: 100%;
    text-align: center;
    margin-left: 0px;

  }

  .editImgC {
    width: 85%;
    height: 33vh;
  }

  .editImg {
    width: 85%;
    height: 33vh;
  }

  .maisMobi {
    margin-left: 31vw;
  }

  footer {
    margin-top: 70vw;
    width: 200vw;
    gap: 50px;
  }

}